name: Build wgpu-native

on: [workflow_dispatch]

env:
  WGPU_COMMIT: 30abc35969035bed81babb58dc610b8db8b061f5

jobs:
  build-wgpu:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    env:
      CARGO_BUILD_TARGET: ${{ matrix.target }}
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: build - linux/amd64
            os: ubuntu-latest
            toolchain: stable
            target: x86_64-unknown-linux-gnu
            goos: linux
            goarch: amd64

          - name: build - linux/386
            os: ubuntu-latest
            toolchain: stable
            target: i686-unknown-linux-gnu
            goos: linux
            goarch: "386"

          - name: build - windows/amd64
            os: windows-latest
            toolchain: stable-gnu
            target: x86_64-pc-windows-gnu
            goos: windows
            goarch: amd64

          - name: build - windows/386
            os: windows-latest
            toolchain: stable-gnu
            target: i686-pc-windows-gnu
            goos: windows
            goarch: "386"

          - name: build - darwin/amd64
            os: macos-latest
            toolchain: stable
            target: x86_64-apple-darwin
            goos: darwin
            goarch: amd64

          - name: build - darwin/arm64
            os: macos-latest
            toolchain: stable
            target: aarch64-apple-darwin
            goos: darwin
            goarch: arm64

          - name: build - android/amd64
            os: ubuntu-latest
            toolchain: stable
            target: x86_64-linux-android
            goos: android
            goarch: amd64

          - name: build - android/arm64
            os: ubuntu-latest
            toolchain: stable
            target: aarch64-linux-android
            goos: android
            goarch: arm64
    steps:
      # Checkout
      - uses: actions/checkout@v2
      # Install rust
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}
          default: true
      # Build
      - name: Install llvm
        if: matrix.os == 'windows-latest'
        run: |
          choco install -y --force llvm | exit 0
          echo "LIBCLANG_PATH=C:\Program Files\LLVM\lib" >> $GITHUB_ENV
        shell: bash
      - name: Build
        run: |
          set -x;
          git clone --recursive https://github.com/gfx-rs/wgpu-native.git tmp;
          cd tmp;
          git checkout $WGPU_COMMIT;
          export CARGO_PROFILE_RELEASE_LTO=true;
          export CARGO_PROFILE_RELEASE_CODEGEN_UNITS=1;
          cargo build --release;
          ls -al target/release/;
          mkdir -p $GITHUB_WORKSPACE/wgpu/lib/$GOOS/$GOARCH;
          mv target/release/libwgpu_native.a $GITHUB_WORKSPACE/wgpu/lib/$GOOS/$GOARCH/libwgpu_static.a;
          cd ..;
          rm -rf tmp;
        shell: bash
      # Send a PR
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Update wgpu-native static library for ${{ matrix.goos }}/${{ matrix.goarch }}
          branch-suffix: random
          title: Update wgpu-native static library for ${{ matrix.goos }}/${{ matrix.goarch }}
          body: Auto-generated pull request to build wgpu-native for ${{ matrix.goos }}/${{ matrix.goarch }}
