name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test-build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Linux
            run_examples: true
            install_deps_command: |
              sudo apt-get update
              sudo apt-get install -f -y libegl1-mesa-dev
              sudo apt-get install -f -y mesa-vulkan-drivers
          - os: macos-latest
            name: Darwin
            run_examples: false # macos doesn't have software metal api
          - os: windows-latest
            name: Windows
            run_examples: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          stable: "false"
          go-version: "1.18.0-beta1"
      - name: Install os dependencies
        run: ${{ matrix.install_deps_command }}
        shell: bash
      - name: Run tests
        run: |
          set -x;
          cd wgpu;
          go test;
        shell: bash
      - name: Run examples
        if: ${{ matrix.run_examples }}
        run: |
          set -x;
          cd examples;
          go mod edit -replace github.com/rajveermalviya/go-webgpu/wgpu=../wgpu/;
          go run ./compute/;
          go run ./capture/;
        shell: bash
